@inherits LayoutComponentBase
@using JournalApp.Services
@inject AuthService AuthService

<AuthWrapper>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <ThemeToggle />
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</AuthWrapper>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        // This will trigger the AuthWrapper to redirect to login
    }
}
