@inherits LayoutComponentBase

<div class="pin-layout">
    @Body
</div>

<style>
    .pin-layout {
        min-height: 100vh;
        background: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
